/* start variables */
:root{
  --main-color: #e5e4e2 ;
  --black-color: #000000;
  --gray-color: #808080;
}
/* end variables */

/*Start global rules */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}

html::selection {
  background-color: var(--black-color);
  color: var(--main-color);
}

section{
  scroll-margin-top: 150px;
}

body{
  background-color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  min-height: 60vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block-start: 7rem;
}

h1{
  font-weight: 500;
  font-size: 3.5rem;
  position: absolute;
  z-index: -1;
  top: 5.9rem;
}

main img{
  width: 40rem;
  animation: float 4s ease-in-out infinite;
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message p{
  width: 35rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.message .buttons{
  margin-block: 1rem;
}

button:focus,
a:focus {
  outline: 2px solid black;
  outline-offset: 3px;
}

.message a{
  background-color: var(--black-color);
  color: var(--main-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  font-weight: 300;
  border: 1px solid var(--main-color);

}

.message a:hover{
  background-color: var(--main-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
  transition: .3s ease-in-out;
}

.message button{
  background-color: var(--main-color);
  color: var(--black-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border: 1px solid var(--black-color);
  border-radius: 2rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.message button:hover{
  background-color: var(--black-color);
  color: var(--main-color);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.recommendations p{
  font-size: 1.2rem;
  font-weight: 300;
  margin-block: 1rem;
  color: var(--gray-color);
}

.recommendations .links{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.recommendations .links a{
  color: var(--black-color);
  text-decoration: none;
  font-weight: 400;
}

.recommendations .links a:hover{
  color: var(--gray-color);
  transition: .3s ease-in-out;
}

/* large screens  */
  @media (min-width: 1441px) {
    h1 {
      font-size: 4.5rem;
      top: 6.9rem;
    }

    main img{
      width: 60rem;
    }

    .message p {
      width: 47rem;
      font-size: 2rem;
    }
    .message a,
    .message button {
      font-size: 1.5rem;
    }

    .recommendations p {
      font-size: 1.7rem;
    }

    .recommendations .links a {
      font-size: 1.5rem;
    }

  } 

/* mobile screens  */
  @media (max-width: 576px) {
    h1 {
    font-size: 2rem;
    top: 6.7rem;
  }

  main img{
    width: 24rem;
  }

  .message p {
    width: 23rem;
  }

  .message .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .message a {
    margin-right: 0;
  }

  .message button{
    width: 100%;
  }

  }

/* start of animations  */
  @keyframes float {
    0%,100% { transform: translateY(10px); }
    50% { transform: translateY(-10px); }
  }

